*{
    padding: 0px;
    margin:0px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.header{
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoimg{
    height: 160px;
    width: 160px;

}
.links{
    text-decoration: none;
    margin-right: 40px;
    font-size: 30px;
    color: black;
    transition: all 1s;


}
.links:hover{
    color: blue;
    font-size: 35px;
}
.intro
{
    padding: 30px;
    font-size: 20px;
}
.intro_p{
    text-align: justify;
    margin-bottom: 20px;font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.intro_link{
    text-decoration: none;
    background-color: blue;
    color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
}
.intro_img{
    position: relative;

}
.intro_img{
    width:60%;
    position: absolute;
    left: 80px;

}
.intro_img2{
    width:100%;
}
.abt_content>h4
{
color: brown;
margin-bottom: 30px;

}
.abt_content>p{
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    visibility: hidden;
}
.abt_content>p::first-line{
    color: blueviolet;
}
.abt_content>p::first-letter{
    color: aquamarine;
    font-size:20px ;
}